@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-200;
}

.my-scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.my-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
